body {
    margin: 0;
    padding: 0;
}

#result {
    background: red;
    border-radius: 5px;
    padding: 0 10px;
}

#result-text {
    color: red;
    padding: 5px;
}

.parent-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background: linear-gradient(45deg, indianred, lightgoldenrodyellow, lightgrey, lightblue, lightcyan);
}

.centered-div {
    border-radius: 5px;
    text-align: center;
}

button {
    border-radius: 5px;
    width: 120px;
    font-weight: bold;
    height: 24px;
    background: linear-gradient(45deg, cyan, cadetblue, lightblue, rebeccapurple, lavenderblush);
}